# see http://0pointer.de/public/systemd-man/systemd.service.html
[Unit]
Description=Dragonfly daemon for cloud registry
Documentation=https://wiki.odkl.ru/display/dev/OneCloud+-+miniond+layout+and+configuration
After=network.target

[Service]
Type=notify
TimeoutStartSec=2
TimeoutStopSec=60
PIDFile=/var/lib/containers/dragonfly/dragonfly.pid
EnvironmentFile=-/etc/sysconfig/dragonfly
ExecStart=/opt/dragonfly/df-client/dfdaemon --node ${SUPERNODES} --port ${PORT} --peerPort ${PEERPORT} --streamAliveTime=${IDLE_TIME} --verbose --localIp ${IP}
# starting the dragonfly daemon with BATCH CPU sched priority, so it does not affect latency sensitive cloud tasks running on the same minion
CPUSchedulingPolicy=batch
Nice=19
# This is neccessary for metrics collection about minion itself
CPUAccounting=yes
MemoryAccounting=yes
IOAccounting=yes
#collect pids usage for minion (doesn't work in current systemd+kernel combination)
#TasksAccounting=yes

# Not less than 10% from normal running task (1024 by deafult)
CPUWeight=1024
# Not less than 1% of blk io (1000 is the default)
IOWeight=10
#ProtectSystem=full
MemoryMax=1024M
#Limit number of pids minion could use (doesn't work in current systemd+kernel combination)
#TasksMax=20000

[Install]
WantedBy=multi-user.target
